html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(https://lh4.googleusercontent.com/-XplyTa1Za-I/VMSgIyAYkHI/AAAAAAAADxM/oL-rD6VP4ts/w1184-h666/Android-Lollipop-wallpapers-Google-Now-Wallpaper-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
.app-header {
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  box-shadow: 4px 6px 7px 6px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
.login-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.positronx {
  text-decoration: none;
  color: #ffffff;
}
.box {
  position: relative;
  top: 0;
  opacity: 1;
  display: grid;
  place-items: center;
  padding: 60px 50px 40px 50px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
  max-width: 330px;
  
}
.box.back {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  top: -20px;
  opacity: 0.8;
  z-index: -1;
}
.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, 0.6);
  left: 0;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  z-index: -1;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}

.animation {
  background: linear-gradient(34deg, #88edee, #0a37f0, #4f9cc8, #4f9cc8);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 43s ease infinite;
  -moz-animation: AnimationName 43s ease infinite;
  animation: AnimationName 43s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 68%}
  50%{background-position:100% 33%}
  100%{background-position:0% 68%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 68%}
  50%{background-position:100% 33%}
  100%{background-position:0% 68%}
}
@keyframes AnimationName {
  0%{background-position:0% 68%}
  50%{background-position:100% 33%}
  100%{background-position:0% 68%}
}